<app-navbar *ngIf="data.id" [currentTheme]="currentTheme"></app-navbar>
<div class="index-container" *ngIf="data.id">
    <app-banner id="home" [currentTheme]="currentTheme" [name]="data.name" [banner]="data.banner" [role]="data.role" style="width: 100%"
        (updated)="onUpdated($event)"></app-banner>
    <app-about [currentTheme]="currentTheme" id="about" [name]="data.name" [description]="data.description" [photo]="data.photo" [role]="data.role"
        [lastName]="data.lastName" class="max-width" (updated)="onUpdated($event)"></app-about>
    <app-studies [currentTheme]="currentTheme" class="max-width" id="studies" [history]="data.education" (updated)="onUpdated($event)"></app-studies>
    <app-skills [currentTheme]="currentTheme" id="skills" [skills]="data.skills" (updated)="onUpdated($event)"></app-skills>
    <app-projects [currentTheme]="currentTheme" id="projects" [projects]="data.projects" (reloadData)="onUpdated($event)"></app-projects>
    <app-footer style="width: 100%" [currentTheme]="currentTheme"></app-footer>
</div>
<ngx-spinner name="main-spinner" type="ball-spin-clockwise" [fullScreen]="false" [color]="currentTheme ==='light'?'#2D3142':'white'" [bdColor]="currentTheme ==='light'?'#FBFBFF':'#1C1B1F'"></ngx-spinner>

<div class="error-data" [ngClass]="showError ? 'show-error' : ''">
    <p>
        Error obteniendo data de la base datos, es posible que la app de heroku esté
        durmiendo.
        <br />
        Por favor intente de nuevo en 3 minutos, si el problema persiste se
        agradeceria un reporte a
        <a href="mailto:zelayagonzalo33@gamil.com">zelayagonzalo33@gmail.com</a>
        <br />
    </p>
    <h3 class="title">Detalle:</h3>
    <p>{{ errotMsg }}</p>
</div>