<footer class="footer">
    <div class="contacto">
        Gracias por tu visita!<br>
        Contactame a traves de cualquiera de las siguientes redes sociales
    </div>
    <div class="social">
        <ul class="social-icons">
            <li>
                <a href="mailto:zelayagonzalo33@gmail.com" title="zelayagonzalo33@gmail.com">
                <img src="../../assets/Icons/Social/Gmail_Icon_(2013-2020).svg">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/gonzalo-zelaya-724485208/" target="_blank">
                    <img src="../../assets/Icons/Social/5296501_linkedin_network_linkedin logo_icon.svg">
                </a>
            </li>
            <li class="facebook">
                <a href="https://www.facebook.com/gonzalo.zelaya.50" target="_blank">
                    <img src="../../assets/Icons/Social/5365678_fb_facebook_facebook logo_icon.svg">
                </a>
            </li>
            <li>
                <a href="https://wa.link/jx9ykx" target="_blank" title="+54 387 514-2935">
                    <img src="../../assets/Icons/Social/5296520_bubble_chat_mobile_whatsapp_whatsapp logo_icon.svg">
                </a>
            </li>
        </ul>
    </div>
</footer>