$black-background:#1C1B1F;
$main:#EE6C4D;
.title{
    text-align: center;
}
.skills-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    .skill{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        .skill-circle{
            border: solid 3px $main;
            background-color: transparent;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.3s;
            img{
                width: 50%;
                height: auto;
            }
        }
        .skill-name{
            text-align: center;
        }
        &:hover{
            .skill-circle{
                background-color: $main;
            }
        }
    }
    .selected{
        .skill-circle{
            background-color: $main;
            border-color: white;
        }
    }
}
.buttons{
    display: flex;
    justify-content: center;
    .circle-button{
        position: relative;
        margin: 10px;
    }
}
.edit-button{
    top: 2%;
    left: 2%;
}
.light{
    $background:#FBFBFF;
    $main:#2589BD;
    $text:#2D3142;
    .title{
        color:$text;
    }
    .skills-list .skill{
        .skill-circle{
            border-color: $main;
        }
        &:hover{
            .skill-circle{
                background-color: $main;
            }
        }
        .skill-name{
            color: $text;
        }
    }
    .skills-list .selected{
        .skill-circle{
            background-color: $main;
            border-color: $text;
        }
    }
    .circle-button{
        background-color: $main;
        border-color: $main;
    }
}

@media (max-width:1024px){
}


@media (max-width:600px){
    .title{
        font-size: 14px;
    }
    .skills-list{
        font-size: 13px;
        .skill{
            margin: 5px;
            .skill-circle{
                width: 50px;
                height: 50px;
            }
        }
    }
    
}