$black-background: #1c1b1f;
$main: #ee6c4d;
$text: white;
$cancel:#F15152;
$save:#039487;

.projects-section {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .projects {
    width: 100%;
  }
}

.project-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: $text;
  .popup-section {
    position: relative;
    padding: 20px;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    background-color: $black-background;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .edit-button {
      right: 2%;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      label {
        margin: 5px;
      }
      input {
        color: $text;
        font-size: 14px;
        font-weight: bold;
        background-color: $black-background;
        border: 1px solid white;
        border-radius: 2px;
        margin: 2px;
      }
      textarea {
        color: $text;
        width: 50%;
        height: 70px;
        font-size: 14px;
        margin-bottom: 20px;
        background-color: $black-background;
        border: 1px solid white;
        border-radius: 2px;
      }
      .links {
        padding: 5px;
      }
      .buttons {
        margin-top: 10px;
        display: flex;
      }
      .circle-button {
        position: relative;
        margin: 5px;
        .mini {
          position: absolute;
          font-size: 15px;
          font-weight: bold;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .show-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    .show-skills {
      display: flex;
      li {
        margin: 5px;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    .show-images {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow-x: auto;
      li {
        height: 150px;
        margin: 5px;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
.skill-selector {
  z-index: 3;
  background-color: transparent;
}

.light{
  $background:#FBFBFF;
  $main:#2589BD;
  $text:#2D3142;
  color: $text;
  .title{
    color: $main;
  }
  .edit-button{
    border-color: $main;
    color: $background;
    background-color: $main;
  }
  .cancel{
    background-color: $cancel;
    border-color: $cancel;
    color: $background;
  }
  .project-popup{
    color: $text;
  }
  .popup-section{
    background-color: $background;
    .form {
      input{
      background-color: $background;
      border-color: $text;
      color: $text;
      }
      textarea{
        background-color: $background;
        border-color: $text;
        color: $text;
      }
      .circle-button{
        background-color: $main;
        color: $background;
        border-color: $main;
      }
    }  
  }
}
.lightpop-up{
  $background:#FBFBFF;
  $main:#2589BD;
  $text:#2D3142;
  .popup-section{
    background-color: $background;
    .title{
      color: $main;
    }
  }
}



@media (max-width: 1024px) {
  .projects-section {
    width: 100%;
  }
  .project-popup {
    .popup-section {
      width: 95%;
      .title {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .project-popup {
    .popup-section {
      .form {
        label{
          align-items: center;
          width: 100%;
        }
        .label-title {
          padding: 5px;
          display: flex;
          justify-content: space-between;
        }
        textarea {
          width: 95%;
        }
        .links {
          width: 100%;
          padding: 5px;
          label {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
