/* You can add global styles to this file, and also import other style files */
$black-background:#1C1B1F;
$main:#EE6C4D;
$light-background:#FBFBFF;
$light-main:#31bbec;
$light-text:#2D3142;
$cancel:#F15152;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


ul,ol,li{
    list-style-type: none;
}

.title{
    margin: 30px 0;
    color: $main;
    font-weight: bold;
    text-align: center;
}
.sub-title{
    margin: 20px 0;
    color: white;
    font-weight: bold;
}
.night{
    background-color: $black-background;
}
.light{
    background-color: $light-background;
}
.max-width{
    display: block;
    width: 100%;
    max-width: 1200px;
}

.edit-button{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 35%;
    z-index: 2;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: $main;
    border-radius: 50%;
    border: 2px solid $main;
    color: white;
    transition: 0.3s;
    box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    &:hover{
        transform: scale(1.2);
    }
}
.edit-field{
    border: white 1px solid;
    background-color: $black-background;
    color: white;
    font-weight: bold;
}
.circle-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    background-color: $main;
    border: 2px solid $main;
    color: white;
    transition: 0.3s;
    box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 11px 5px -2px rgba(0,0,0,0.49);
    &:hover{
        transform: scale(1.2);
    }
}
.save-button{
    background-color: #039487 !important;
    border-color: #039487 !important;
}
.cancel{
    background-color: $cancel !important;
    border-color: $cancel !important;
    color: white;
}

@media (max-width:600px){
    body{
        font-size: 15px;
    }
    .edit-button{
        font-size: 15px;
        width: 35px;
        height: 35px;
        right: 2%;
    }
    .circle-button{
        font-size: 15px;
        width: 35px;
        height: 35px;
    }
}
html{
    scroll-behavior: smooth;
}